[Desktop Entry]
Name=Applications
Icon=view-app-grid-symbolic
Exec=rofi -show drun -show-icons -theme night-owl
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
